.hideOnSmallScreens { display:none; }
.hideOnVerySmallScreens { display:none; }

/* Tablet */
@media screen and (min-width: 600px) {
  .hideOnVerySmallScreens  { display: block; }
}

/* Desktop*/
@media screen and (min-width: 1000px) {
  .hideOnSmallScreens  { display: block; }
}
